doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="/img/favicon.ico")
    block styles
        link(href="/css/app.css" rel="stylesheet")
    title="Surveys | Satisfied Patient"
  body(class="header-two-sections")
    block content
    block scripts
        script(src='/js/survey-app.js')
