// Body
$body-bg: #f5f8fa;

// Typography
$primary-font: 'Lato', sans-serif;
$font-size: 16px;

// Colors
$light-white: #ffffff;
$lighter-grey: #f9f9f9;
$light-grey: #f2f3f4;
$hover-grey: #e5e5e5;
$active-grey: #ccc;
$border-grey: #eee;
$border-darker-grey: #ddd;
$dark-grey: #aaa;
$background-grey: #f2f2f2;
$bluish-background-grey: #f2f4f9;
$dark-background-grey: #666;
$box-shadow-grey: rgba(0,0,0,0.035);
$box-shadow-grey-hover: rgba(0,0,0,0.1);
$primary-blue: #0F5A9B;
$secondary-blue: #0085c2;
$active-blue: #0d508a;
$dark-text: #333;
$light-text: #999;
$white-text: #fff;
$danger-red: #e74c3c;
$star-yellow: #f6bb43;
$promoter-color: #8cc152;
$passive-color: #f7bf4f;
$detractor-color: #db4453;
$icon-background: rgba(15, 90, 155, 0.075);

// Borders
$box-border-radius: 8px;
$button-border-radius: 35px;
$round-border-radius: 50%;
